.buildNewGame-container > h1 {
  justify-content: center;
}
.buildNewGame-container > h3 {
  margin: 1rem 0 !important;
}

.answer-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-top: 1rem;
  flex-wrap: nowrap;
}

.buttons-buildNewGame {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.buttons-buildNewGame > button:nth-last-of-type(2) {
  margin-right: auto;
}

input[type="radio"] {
  margin-right: 1rem;
}

input[value="Add"] {
  display: block;
  margin-left: auto;
  margin-right: 9rem;
  margin-top: 1rem;
}
