.home-container button {
  /* margin: 0.25rem;
    margin-top: 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vw;
}
.home-buttons button {
  align-self: center;
  flex: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.home-buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
