#root {
    height: 100vh;
    background: radial-gradient(rgba(67, 179, 199, 0.15), rgba(34, 139, 34, 0.15));
  }
  
  .identifyer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }