.categoryColumn{
    display:flex;
    flex-direction: column;
    width: 300px;
}
.categoryColumn button{
    width: 80%;
}
.gamesColumn{
    min-width: 400px;
}
.select-category-container{
    width: 100%;
}
.select-category{
    width:100%;
}
.buttons{
    margin-right:50px;
}
