.instructions-container{

padding-top: 70em;
  background-color: #DFF1EB;
}


section,article{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

h1{
    display:flex;
    width: 100%;
    margin-left: 10px;
    margin:20px;
}

h3{
    margin-left:25px;
    font-size: 3vh;
}

ul{
    list-style: none; 
}

.description{
    display:flex;
    width:100%;
    margin-left:35px;
}

section ul{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin:0px;
}

section li{
    width:28%;
    margin:20px;
    padding: 10px;
    align-items: center;
    justify-content:center;
    text-align: justify;
}

section img{
    display:flex;
    width: 100%;
    height: 290px;
    min-height: auto;
    align-self: center;
    margin-top:5px;
    margin-bottom: 2rem;
    padding:5px;
    border:2px solid lightslategrey;
    border-radius: 10px;
}

section p{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

section b{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
